language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

sudo: false

env:
  matrix:
    - DB=mysql db_dsn='mysql://travis@0.0.0.0/cakephp_test'
    - DB=sqlite db_dsn='sqlite:///:memory:'
  global:
    - DEFAULT=1

matrix:
  allow_failures:
    - php: hhvm
    - env: CODECOVERAGE=1 DEFAULT=0
    - env: DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test'

  fast_finish: true

  include:
    - php: 7.0
      env: CODECOVERAGE=1 DEFAULT=0

    - php: 5.4
      env: PREFER_LOWEST=1

    - php: 5.4
      env: DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test'

    - php: 5.5
      env: DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test'

    - php: 5.6
      env: DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test'
      
    - php: 7.0
      env: DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test'
      
    - php: 7.0
      env: PHPCS=1 DEFAULT=0

    - php: hhvm
      env: HHVM=1 DB=sqlite db_dsn='sqlite:///:memory:'

    - php: hhvm
      env: HHVM=1 DB=mysql db_dsn='mysql://travis@0.0.0.0/cakephp_test'

before_script:
  - sh -c "if [ '$HHVM' != '1' ]; then phpenv config-rm xdebug.ini; fi"
  - composer self-update
  - sh -c "if [ '$PREFER_LOWEST' != '1' ]; then composer install --prefer-source --no-interaction; fi"
  - sh -c "if [ '$PREFER_LOWEST' = '1' ]; then composer update --prefer-source --no-interaction --prefer-lowest --prefer-stable; fi"

  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'CREATE DATABASE cakephp_test;'; fi"

  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'CREATE DATABASE cakephp_test;' -U postgres; fi"

  - sh -c "if [ '$PHPCS' = '1' ]; then composer require squizlabs/php_codesniffer; fi"

  - phpenv rehash
  - set +H
  - cp phpunit.xml.dist phpunit.xml

script:
  - sh -c "if [ '$DEFAULT' = '1' ]; then phpunit --stderr; fi"
  - sh -c "if [ '$PHPCS' = '1' ]; then vendor/bin/phpcs -p --extensions=php --standard=psr2 --ignore=tests/bootstrap.php,tests/comparisons/*,tests/test_app/* ./src ./tests ; fi"
  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then phpdbg -qrr vendor/bin/phpunit --coverage-clover=clover.xml || true; fi"
  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then wget -O codecov.sh https://codecov.io/bash; fi"
  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then bash codecov.sh; fi"

notifications:
  email: false
