includes:
	- phpstan-baseline.neon

parameters:
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
