parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:loadHelper\\(\\)\\.$#"
			count: 1
			path: src/Command/BakeMigrationCommand.php

		-
			message: "#^Call to an undefined method object\\:\\:loadHelper\\(\\)\\.$#"
			count: 1
			path: src/Command/BakeMigrationDiffCommand.php

		-
			message: "#^Call to an undefined method object\\:\\:loadHelper\\(\\)\\.$#"
			count: 1
			path: src/Command/BakeMigrationSnapshotCommand.php

		-
			message: "#^Method Migrations\\\\Db\\\\Adapter\\\\AdapterFactory\\:\\:getAdapter\\(\\) should return Migrations\\\\Db\\\\Adapter\\\\AdapterInterface but returns object\\.$#"
			count: 1
			path: src/Db/Adapter/AdapterFactory.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Db/Adapter/AdapterFactory.php

		-
			message: "#^Offset 'id' on non\\-empty\\-array\\<string, mixed\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/Db/Adapter/MysqlAdapter.php

		-
			message: "#^Parameter \\#4 \\$options of method Migrations\\\\Db\\\\Adapter\\\\PdoAdapter\\:\\:createPdoConnection\\(\\) expects array\\<int, mixed\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 1
			path: src/Db/Adapter/MysqlAdapter.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Db/Adapter/MysqlAdapter.php

		-
			message: "#^Access to an undefined property PDO\\:\\:\\$connection\\.$#"
			count: 1
			path: src/Db/Adapter/PdoAdapter.php

		-
			message: "#^Offset 'id' on array\\<string, mixed\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/Db/Adapter/PostgresAdapter.php

		-
			message: "#^Offset 'id' on array\\<string, mixed\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/Db/Adapter/SqliteAdapter.php

		-
			message: "#^Offset 'id' on array\\<string, mixed\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/Db/Adapter/SqlserverAdapter.php

		-
			message: "#^PHPDoc tag @return with type Phinx\\\\Db\\\\Adapter\\\\AdapterInterface is not subtype of native type Migrations\\\\Db\\\\Adapter\\\\AdapterInterface\\.$#"
			count: 1
			path: src/Db/Adapter/SqlserverAdapter.php

		-
			message: "#^Parameter \\#4 \\$options of method Migrations\\\\Db\\\\Adapter\\\\PdoAdapter\\:\\:createPdoConnection\\(\\) expects array\\<int, mixed\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 1
			path: src/Db/Adapter/SqlserverAdapter.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 2
			path: src/Db/Adapter/SqlserverAdapter.php

		-
			message: "#^Parameter \\#1 \\$adapter of method Phinx\\\\Migration\\\\MigrationInterface\\:\\:setAdapter\\(\\) expects Phinx\\\\Db\\\\Adapter\\\\AdapterInterface, Migrations\\\\Db\\\\Adapter\\\\AdapterInterface given\\.$#"
			count: 2
			path: src/Migration/Environment.php

		-
			message: "#^Parameter \\#1 \\$adapter of method Phinx\\\\Seed\\\\SeedInterface\\:\\:setAdapter\\(\\) expects Phinx\\\\Db\\\\Adapter\\\\AdapterInterface, Migrations\\\\Db\\\\Adapter\\\\AdapterInterface given\\.$#"
			count: 1
			path: src/Migration/Environment.php

		-
			message: "#^Possibly invalid array key type Cake\\\\Database\\\\Schema\\\\TableSchemaInterface\\|string\\.$#"
			count: 2
			path: src/View/Helper/MigrationHelper.php
