parameters:
    level: 7
    paths:
        - src/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
