<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    >

    <testsuites>
        <testsuite name="migrations">
            <directory>tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener class="Cake\TestSuite\Fixture\FixtureInjector">
            <arguments>
                <object class="Cake\TestSuite\Fixture\FixtureManager"/>
            </arguments>
        </listener>
    </listeners>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>

        <!-- SQLite
        <env name="DB" value="sqlite"/>
        <env name="DB_DSN" value="sqlite://127.0.0.1/cakephp_test"/>
        -->
        <!-- Postgres
        <env name="DB" value="postgres"/>
        <env name="DB_DSN" value="postgres://localhost/cake_test?timezone=UTC"/>
        -->
        <!-- Mysql
        <env name="DB" value="mysql"/>
        <env name="DB_DSN" value="mysql://localhost/cake_test?timezone=UTC"/>
        <env name="DB_DSN_COMPARE" value="mysql://localhost/cake_comparison"/>
        -->
    </php>
</phpunit>
