<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    >

    <testsuites>
        <testsuite name="migrations">
            <directory>tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension" />
    </extensions>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>

        <!-- SQLite
        <env name="DB" value="sqlite"/>
        <env name="DB_URL" value="sqlite://127.0.0.1/cakephp_test"/>
        -->
        <!-- Postgres
        <env name="DB" value="pgsql"/>
        <env name="DB_URL" value="postgres://localhost/cake_test?timezone=UTC"/>
        -->
        <!-- Mysql
        <env name="DB" value="mysql"/>
        <env name="DB_URL" value="mysql://localhost/cake_test?timezone=UTC"/>
        <env name="DB_URL_COMPARE" value="mysql://localhost/cake_comparison"/>
        -->
    </php>
</phpunit>
